<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<style>
	body {
	background-image:url("../images/signupImage.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	}
	h2, label{
		color: white;
	}
	col-md-8 mx-auto{
	  height: 100%;
	  width: 100%;
	  display: flex;
	}
	</style>
</head>
<body>

<div class="container my-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2>Sign up</h2>
			<form class="row g-3" th:action="@{/save-registration}" th:object="${register}" method="post">
			  <div class="col-md-12">
			    <label for="validationDefault01" class="form-label">First name</label>
			    <input type="text" class="form-control" id="validationDefault01" th:field="*{firstName}" required>
			  </div>
			  <div class="col-md-12">
			    <label for="validationDefault02" class="form-label">Last name</label>
			    <input type="text" class="form-control" id="validationDefault02" th:field="*{lastName}" required>
			  </div>
			  <div class="col-md-12">
			    <label for="validationDefaultUsername" class="form-label">Username</label>
			    <div class="input-group">
			      <span class="input-group-text" id="inputGroupPrepend2">@</span>
			      <input type="text" class="form-control" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" th:field="*{username}" required>
			    </div>
			  </div>
			  <div class="col-md-12">
			    <label for="validationDefaultPassword" class="form-label">Password</label>
			    <div class="input-group">
			      <span class="input-group-text" id="inputGroupPrepend2">@</span>
			      <input type="text" class="form-control" id="validationDefaultPassword" aria-describedby="inputGroupPrepend2" th:field="*{password}" required>
			    </div>
			  </div>
			  <div class="col-md-12">
			    <label for="validationDefault03" class="form-label">City</label>
			    <div class="input-group-text">
			    	<input type="text" class="form-control" id="validationDefault03" th:field="*{city}" required>
			    </div>  
			  </div>
			  <div>
			  <div class="col-md-12">
			    <label for="validationDefault04" class="form-label">State</label>
			    <select class="form-select" id="validationDefault04" th:field="*{state}" required>
			      <option selected disabled value="">Choose...</option>
			      <option value="NY">NY</option>
			      <option value="MA">MA</option>
			      <option value="CT">CT</option>
			      <option value="GA">GA</option>
			      <option value="OH">OH</option>
			    </select>
			  </div>
			  </div>
			  <div class="col-md-12">
			    <label for="validationDefault05" class="form-label">Zip</label>
			    <input type="text" class="form-control" id="validationDefault05" th:field="*{zipcode}" required>
			  </div>
			  <div class="col-12">
			    <div class="form-check">
			      <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
			      <label class="form-check-label" for="invalidCheck2">
			        Agree to terms and conditions
			      </label>
			    </div>
			  </div>
			  <div class="col-12">
			    <button class="btn btn-primary" type="submit">Sign Up</button>
			  </div>
			</form>
        </div>
    </div>
</div>

</body>
</html>